.App {
  align-items: center;
  background-image: url("./pokedexImg/pokedexConsole.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 450px;
}

